/*reset css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vw;
  font-family: arial; 
  font-size: 10px; 
}

@media (min-width:400px) {
  body{
    font-size: 14px;
    background-size: auto 160vh;
  }
}

header{
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu{
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  height: 5vh;
  top: 0;
}


.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li{
  list-style: none;
}

.menu a{
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
}

a{
  color: teal;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.site-title{
  color: whitesmoke;
  text-align: center;
}

.site-subtitle{
  color: whitesmoke; 
  text-align: center; 
}

.rodape-prin
{
  background-color:  whitesmoke;       
  clear: both;
  height: 7vh;      
  color: black;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.rodape-prin span {
  float: left;  
  line-height: 7vh;  
}

.icones-sociais li
{
  display: inline-block;
  float: right;
  margin-top: 1vh;   
}

/*
.img-portfolio{
  width: 180px;
  height: 180px;
}*/ 